<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.com.wh.ring">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 得到屏幕正常的物理尺寸(低分辨率会有误) -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.activity.SplashActivity"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="3ee26f1b5e0071ea09c003a4c6365437" />
        <service android:name="com.amap.api.location.APSService"></service>

        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.activity.LoginActivity" />
        <activity android:name=".ui.activity.ProtocolActivity" />
        <activity android:name=".ui.activity.LoginMobileActivity" />
        <activity android:name=".ui.activity.CheckMobileActivity" />
        <activity android:name=".ui.activity.SettingPasswordActivity" />
        <activity android:name=".ui.activity.PhotoPickerActivity" />
        <activity android:name=".ui.activity.PhotoPickerPreviewActivity" />
        <activity android:name=".ui.activity.PhotoPreviewActivity" />
        <activity android:name=".ui.activity.SelectPostTypeActivity" />
        <activity
            android:name=".ui.activity.PublishActivity"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>